config turkey 'general'
	option enabled          '0'
	option port             '8443'
	option log_level        'normal'
	option tls_domain       'www.baidu.com'
	option mask             '1'
	option tls_emulation    '1'
	option ad_tag           ''
	option use_middle_proxy '0'
	option manage_firewall  '1'

config turkey 'mode'
	option classic          '0'
	option secure           '0'
	option tls              '1'

config user 'hello'
	option secret           '00000000000000000000000000000000'
